[submodule "php/backend"]
	path = php/backend
	url = git@github.com:proxymurder/laravel-backend.git
[submodule "node/app"]
	path = node/app
	url = git@github.com:proxymurder/vuejs-app.git
[submodule "node/socket.io"]
	path = node/socket.io
	url = git@github.com:proxymurder/socket.io.git
