[submodule "node-ws"]
	path = node/ws
	url = https://github.com/proxymurder/ws-template.git
[submodule "node-app"]
	path = node/app
	url = https://github.com/proxymurder/vue-template.git
[submodule "php-backend"]
	path = php/backend
	url = https://github.com/proxymurder/laravel-template.git