$utilities: (
	'width': (
		property: width,
		class: w,
		values:
			map-merge(
				$range-100,
				(
					auto: auto,
				)
			),
	),
	'opacity': (
		property: opacity,
		values: $range-1,
	),
	'text-opacity': (
		css-var: true,
		class: text-opacity,
		values: $range-1,
	),
	'background-color': (
		property: background-color,
		class: bg,
		local-vars: (
			'bg-opacity': 1,
		),
		values:
			map-merge-multiple(
				$theme-colors,
				$whites,
				$blacks,
				(
					'transparent': transparent,
				)
			),
	),
	'color': (
		property: color,
		class: text,
		local-vars: (
			'text-opacity': 1,
		),
		values:
			map-merge(
				$theme-colors,
				(
					'muted': $text-muted,
				)
			),
	),
	'z-index': (
		property: z-index,
		class: z,
		values: (
			0: 0,
			1: 1,
			2: 2,
			3: 3,
			4: 4,
			5: 5,
			6: 6,
			7: 7,
			8: 8,
			9: 9,
			10: 10,
		),
	),
);
