// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
    font-family: "GUBBLABLO";
    src: url("/storage/fonts/GUBBLABLO.ttf") format("truetype");
}

.winc-oops {
    // font-family: 'Press Start 2P', cursive;
    font-family: "GUBBLABLO", sans-serif;
}

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

ul {
    margin: 0;
}

li {
    list-style-type: none;
}
